/* !important
Theme Name: Esencial | Ingredientes Esenciales Bolivia
Theme URI: nandes.ingsistemas@gmail.com
Author: Fernando Javier Averanga Aruquipa
Author URI: nandes.ingsistemas@gmail.com
Description: Tema creado para Esencial | Ingredientes Esenciales Bolivia
Version: 10.0
Tags: tema, fernando, fernando averanga, fernando averanga arquipa, @2062nandes
*/
body{overflow-x:hidden;}
.container{width:80%;}
header.inicio{box-shadow:0 1px 20px 0 #000;}
header.contenido nav.inicio,header.inicio nav.inicio{-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;background-color:#b91e1e;height:105px;border-bottom:10px solid #fff;-webkit-animation:a 10s linear infinite 0s;animation:a 10s linear infinite 0s;-webkit-animation-delay:.5s;animation-delay:.5s;}
header.contenido nav.inicio .brand-logo,header.inicio nav.inicio .brand-logo{position:relative;height:95px;margin-left:31px;}
header.contenido nav.inicio svg,header.inicio nav.inicio svg{width:300px;-webkit-transform:translate(-26px,-3px);transform:translate(-26px,-3px);-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
header.contenido nav.inicio svg .st0,header.contenido nav.inicio svg .st1,header.inicio nav.inicio svg .st0,header.inicio nav.inicio svg .st1{-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;background:transparent;}
header.contenido nav.inicio svg .st0,header.inicio nav.inicio svg .st0{-webkit-animation:b 10s linear infinite 0s;animation:b 10s linear infinite 0s;-webkit-animation-delay:.5s;animation-delay:.5s;}
header.contenido nav.inicio svg .st1,header.inicio nav.inicio svg .st1{-webkit-animation:c 10s linear infinite 0s;animation:c 10s linear infinite 0s;-webkit-animation-delay:.5s;animation-delay:.5s;}
header.contenido nav.inicio .button-collapse,header.inicio nav.inicio .button-collapse{-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out;background:transparent;-webkit-animation:barra 10s linear infinite 0s;animation:barra 10s linear infinite 0s;-webkit-animation-delay:.5s;animation-delay:.5s;}
header.contenido nav.inicio ul a,header.inicio nav.inicio ul a{color:#fff;background:#c32929;border:1px solid #c32929;border-radius:2px;display:inline;margin:4px;padding:5px 17px;}
header.contenido nav.inicio ul a:hover,header.inicio nav.inicio ul a:hover{color:#b91e1e;background:#fff;}
header.contenido nav.inicio .side-nav li a,header.inicio nav.inicio .side-nav li a{padding:0;}
header.contenido nav.menu-principal,header.inicio nav.menu-principal{background:transparent;height:100%;box-shadow:none;}
header.contenido nav.menu-principal ul li,header.inicio nav.menu-principal ul li{float:none;}
header.contenido li.logo,header.inicio li.logo{margin-left:44px;margin-top:8px;margin-bottom:-17px;}
header.contenido .btn-menu,header.inicio .btn-menu{border-radius:2px 30px 2px 2px;background:#c32929;border:1px solid #fff;border-left:6px solid #fff;box-shadow:none;color:#fff;font-weight:900;text-shadow:1px 1px 1px #5a5a5a,0 2px 3px #c32929;padding:9px 0 0 9px;margin-top:5.5px;width:100%;height:61px;line-height:20px;text-align:left;-webkit-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
header.contenido .btn-menu:hover,header.inicio .btn-menu:hover{background:-webkit-linear-gradient(71deg,#e4e4e4,#fff,#e2e2e2);background:linear-gradient(19deg,#e4e4e4,#fff,#e2e2e2);border:1px solid #c70000;border-left:5px solid #c70000;color:#c32929;text-shadow:1px 1px 3px #fff,0 1px 2px #777;box-shadow:-1px -1px 1px 1px #b51818,-1px 1px 20px 0 #565656;}
a.menu-movil{background:#b91e1e;border-radius:0 0 5px 5px;color:#fff;font-size:30px;text-shadow:-1px 0 2px #505050;border:1px solid #c32929;}
a.menu-movil:hover{background:#fff;color:#c32929;text-shadow:-1px 0 2px guindo-suave;}
@-webkit-keyframes a{0%{background-color:#b91e1e;}15%{background-color:#b91e1e;border-bottom:10px solid #fff;}30%{background-color:#fff;border-bottom:10px solid #c32929;}50%{background-color:#fff;border-bottom:10px solid #c32929;}70%{background-color:#fff;border-bottom:10px solid #c32929;}85%{background-color:#b91e1e;border-bottom:10px solid #fff;}to{background-color:#b91e1e;border-bottom:10px solid #fff;}}
@keyframes a{0%{background-color:#b91e1e;}15%{background-color:#b91e1e;border-bottom:10px solid #fff;}30%{background-color:#fff;border-bottom:10px solid #c32929;}50%{background-color:#fff;border-bottom:10px solid #c32929;}70%{background-color:#fff;border-bottom:10px solid #c32929;}85%{background-color:#b91e1e;border-bottom:10px solid #fff;}to{background-color:#b91e1e;border-bottom:10px solid #fff;}}
@-webkit-keyframes b{
  0%{fill:#fff;}
  15%{fill:#fff;}
  25%{fill:#c32929;}
  50%{fill:#c32929;}
  75%{fill:#c32929;}
  85%{fill:#fff;}
  to{fill:#fff;}}
@keyframes b{
  0%{fill:#fff;}
  15%{fill:#fff;}
  25%{fill:#c32929;}
  50%{fill:#c32929;}
  75%{fill:#c32929;}
  85%{fill:#fff;}
  to{fill:#fff;}}
@-webkit-keyframes c{
  0%{-webkit-transform:perspective(400px) translateZ(0) rotateY(0deg);transform:perspective(400px) translateZ(0) rotateY(0deg);fill:#fff;}
  15%{-webkit-transform:perspective(400px) translateZ(0) rotateY(0deg);transform:perspective(400px) translateZ(0) rotateY(0deg);fill:#fff;}
  25%{-webkit-transform:perspective(400px) translate3d(150px,0,0) rotateY(-180deg);transform:perspective(400px) translate3d(150px,0,0) rotateY(-180deg);fill:#c32929;}
  50%{-webkit-transform:perspective(400px) translate3d(150px,0,0) rotateY(-180deg);transform:perspective(400px) translate3d(150px,0,0) rotateY(-180deg);fill:#c32929;}
  75%{-webkit-transform:perspective(400px) translate3d(150px,0,0) rotateY(-180deg);transform:perspective(400px) translate3d(150px,0,0) rotateY(-180deg);fill:#c32929;}
  85%{-webkit-transform:perspective(400px) translateZ(0) rotateY(0deg);transform:perspective(400px) translateZ(0) rotateY(0deg);fill:#fff;}
  to{-webkit-transform:perspective(400px) translateZ(0) rotateY(0deg);transform:perspective(400px) translateZ(0) rotateY(0deg);fill:#fff;}
}
@keyframes c{
  0%{-webkit-transform:perspective(400px) translateZ(0) rotateY(0deg);transform:perspective(400px) translateZ(0) rotateY(0deg);fill:#fff;}
  15%{-webkit-transform:perspective(400px) translateZ(0) rotateY(0deg);transform:perspective(400px) translateZ(0) rotateY(0deg);fill:#fff;}
  25%{-webkit-transform:perspective(400px) translate3d(150px,0,0) rotateY(-180deg);transform:perspective(400px) translate3d(150px,0,0) rotateY(-180deg);fill:#c32929;}
  50%{-webkit-transform:perspective(400px) translate3d(150px,0,0) rotateY(-180deg);transform:perspective(400px) translate3d(150px,0,0) rotateY(-180deg);fill:#c32929;}
  75%{-webkit-transform:perspective(400px) translate3d(150px,0,0) rotateY(-180deg);transform:perspective(400px) translate3d(150px,0,0) rotateY(-180deg);fill:#c32929;}
  85%{-webkit-transform:perspective(400px) translateZ(0) rotateY(0deg);transform:perspective(400px) translateZ(0) rotateY(0deg);fill:#fff;}
  to{-webkit-transform:perspective(400px) translateZ(0) rotateY(0deg);transform:perspective(400px) translateZ(0) rotateY(0deg);fill:#fff;}
}
.row section.col{padding:0 0 15px;}
section{margin:10px 0 0;background:hsla(0,0%,100%,.81);border-radius:5px;border:6px solid #c32929;
}
section h2{background:#c32929;margin:0;color:#fff;font-size:36px;float:inherit;width:100%;padding:1px 0 2px;}
section .input-field{margin-top:0;line-height:.7;}
section .input-field .prefix{font-size:1.2em;left:15px;top:10px;line-height:.6;color:#505050;}
section .input-field label{color:#636363;top:7px;left:5px;font-size:16px;font-size:1rem;}
section h3{font-size:30px;font-weight:500;color:#c32929;}
section p{margin:0 1%;text-align:justify;}
section ul li{margin-left:2%;}
section ul li i{margin-right:5px;}
section article div{margin-top:10px;}
section img.rep{padding:6px;background:#fff;border-radius:5px;border:1px solid #505050;margin:15px 2px;}
section img.rep:hover{-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";opacity:.6;}
section .input-field label:not(.label-icon).active,section input:not([type]):focus:not([readonly])+label,section input[type=date]:focus:not([readonly])+label,section input[type=datetime-local]:focus:not([readonly])+label,section input[type=datetime]:focus:not([readonly])+label,section input[type=email]:focus:not([readonly])+label,section input[type=number]:focus:not([readonly])+label,section input[type=password]:focus:not([readonly])+label,section input[type=search]:focus:not([readonly])+label,section input[type=tel]:focus:not([readonly])+label,section input[type=text]:focus:not([readonly])+label,section input[type=time]:focus:not([readonly])+label,section input[type=url]:focus:not([readonly])+label,section textarea.materialize-textarea:focus:not([readonly])+label{color:#df0209;top:0;font-size:16px;font-size:1rem;}
section input:not([type]):focus:not([readonly]),section input[type=date]:focus:not([readonly]),section input[type=datetime-local]:focus:not([readonly]),section input[type=datetime]:focus:not([readonly]),section input[type=email]:focus:not([readonly]),section input[type=number]:focus:not([readonly]),section input[type=password]:focus:not([readonly]),section input[type=search]:focus:not([readonly]),section input[type=tel]:focus:not([readonly]),section input[type=text]:focus:not([readonly]),section input[type=time]:focus:not([readonly]),section input[type=url]:focus:not([readonly]),section textarea.materialize-textarea:focus:not([readonly]){border-bottom:1px solid #df0209;background:#fff;color:#000;box-shadow:0 1px 0 0 #df0209;-webkit-transition:all .3s linear;transition:all .3s linear;}
section input:not([type]),section input[type=date],section input[type=datetime-local],section input[type=datetime],section input[type=email],section input[type=number],section input[type=password],section input[type=search],section input[type=tel],section input[type=text],section input[type=time],section input[type=url],section textarea.materialize-textarea{height:20.8px;height:1.3rem;border-bottom:1px solid #505050;border:1px solid #505050;padding:5px;border-radius:6px;background:hsla(0,0%,100%,.54);line-height:1;}
section .input-field .prefix.active{color:#df0209;}
section .animMessage{border-left:4px solid green;background:#ffc655;padding:5px;margin-top:7px;text-align:center;}
section #materialbox-overlay{background-color:#400000;background-color:rgba(64,0,0,.58);}
footer h2{font-size:20px;font-weight:900;line-height:0;}
footer h4{font-size:18px;font-weight:500;line-height:91%;margin:0 0 10px;}
footer b,footer h2{color:#c32929;}
footer .fot{background-color:#fff;border-radius:30px 30px 0 0;border:5px solid #c32929;padding:0;}
footer .fot h3{font-size:24px;line-height:143%;margin:0;padding:1px 0 2px;color:#fff;border-radius:22px 22px 0 0;text-align:center;background-color:#b91e1e;}
footer .creditos p{text-shadow:0 1px 1px #fff;}
footer .creditos .ah a{color:#b91e1e;-webkit-transition:all .5s ease-in-out;transition:all .5s ease-in-out}
footer .creditos .ah a:hover{color:#fff;text-shadow:0 1px 1px #000;}
footer ul.social_icons{list-style:none;padding:0;margin:0;display:block;}
footer ul.social_icons li{display:inline-block;margin-right:5px;margin-top:5px;margin-bottom:1px;}
footer ul.social_icons li a i{border-radius:50%;color:#fff;height:40px;line-height:40px;font-size:20px;padding:0;text-align:center;width:40px;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity:.8;border:1px solid hsla(0,0%,100%,.57);box-shadow:0 0 7px 1px #797979;}
footer ul.social_icons li a i:hover{-webkit-transform:rotate(1turn);transform:rotate(1turn);-webkit-transition-duration:2s;transition-duration:2s;-webkit-transition-property:all;transition-property:all;-webkit-transition-timing-function:ease;transition-timing-function:ease;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity:1;-webkit-transition:all .9s ease 0s;transition:all .9s ease 0s;}
footer ul.social_icons .fa-facebook{background:-webkit-linear-gradient(300deg,#89c3ff,#004ec7,#3371d2 110%);background:linear-gradient(150deg,#89c3ff,#004ec7,#3371d2 110%);}
footer ul.social_icons .fa-twitter{background:-webkit-linear-gradient(300deg,#a1deff,#00adff,#007da2);background:linear-gradient(150deg,#a1deff,#00adff,#007da2);}
footer ul.social_icons .fa-youtube{background:-webkit-linear-gradient(300deg,#ff3c3c,red,#ca0000);background:linear-gradient(150deg,#ff3c3c,red,#ca0000);}
