@charset "utf-8";
/* !important
Theme Name: Esencial | Ingredientes Esenciales Bolivia
Theme URI: nandes.ingsistemas@gmail.com
Author: Fernando Javier Averanga Aruquipa
Author URI: nandes.ingsistemas@gmail.com
Description: Tema creado para Esencial | Ingredientes Esenciales Bolivia
Version: 10.0
Tags: tema, fernando, fernando averanga, fernando averanga arquipa, @2062nandes
*/
$guindo: #b91e1e;
$guindo-suave: #c32929;
$plomo: #505050;
body{overflow-x: hidden;}
.container{width:80%;}
/**/
header.inicio{box-shadow: 0px 1px 20px 0px black;}
header.contenido, header.inicio{
  nav.inicio{transition: all 0.5s ease-in-out;background-color:$guindo;height: 105px;border-bottom: solid 10px white;
    animation: cambiacolor 10s linear infinite 0s;animation-delay: 0.5s;
    .brand-logo {position: relative;height: 95px;margin-left: 31px;}
    svg{width:300px;transform: translate(-26px, -3px);transition: all 0.5s ease-in-out;
      .st0,.st1{transition: all 0.5s ease-in-out;background:transparent;}
      .st0{animation: cambiarlogo 10s linear infinite 0s;animation-delay: 0.5s;}
      .st1{animation: rotarlogo 10s linear infinite 0s;animation-delay: 0.5s;}
    }
    .button-collapse{transition: all 0.5s ease-in-out;background:transparent;animation: barra 10s linear infinite 0s;animation-delay: 0.5s;}
    ul{
      a {color: #fff;background: $guindo-suave;border: solid 1px $guindo-suave;border-radius: 2px;display: inline;margin: 4px;padding: 5px 17px;}
      a:hover{color: $guindo;background: white;}
    }
    .side-nav{
      li{a{padding:0;}}    
    }
  }
  nav.menu-principal{background:transparent;height:100%;box-shadow: none;
    ul{
      li{float: none;}
    }
  }
  li.logo{margin-left: 44px;margin-top: 8px;margin-bottom: -17px;}
 .btn-menu{border-radius: 2px 30px 2px 2px;background: #c32929;border: solid 1px white;border-left: solid 6px white;box-shadow: none;color: #fff;font-weight: 900;text-shadow: 1px 1px 1px #5a5a5a, 0 2px 3px #c32929;padding: 9px 0 0 9px;margin-top: 5.5px;width: 100%;height: 61px;line-height: 20px;text-align: left;transition: all .2s ease-in-out;}
 .btn-menu:hover{background: linear-gradient(19deg,#e4e4e4,#fff,#e2e2e2);border: 1px solid #c70000;border-left: 5px solid #c70000;color: #c32929;text-shadow: 1px 1px 3px #fff, 0 1px 2px #777;box-shadow: -1px -1px 1px 1px #b51818, -1px 1px 20px 0 #565656;}
}
a.menu-movil{background:$guindo;border-radius: 0 0 5px 5px;color: #fff;font-size: 30px;text-shadow: -1px 0px 2px $plomo;border:1px solid $guindo-suave;}
a.menu-movil:hover{background:white;color:$guindo-suave;text-shadow: -1px 0px 2px guindo-suave;}
@keyframes cambiacolor {0% {background-color:$guindo;}15% {background-color:$guindo;border-bottom: solid 10px white;}30% {background-color:white;border-bottom: solid 10px $guindo-suave;}50% {background-color:white;border-bottom: solid 10px $guindo-suave;}70% {background-color:white;border-bottom: solid 10px $guindo-suave;}85% {background-color:$guindo;border-bottom: solid 10px white;}100%{background-color:$guindo;border-bottom: solid 10px white;}}
@keyframes cambiarlogo {
  0% {fill:white;}
  15% {fill:white;}
  25% {fill:$guindo-suave;}
  50% {fill:$guindo-suave;}
  75% {fill:$guindo-suave;}
  85% {fill:white;}
  100%{fill:white;}}
@keyframes rotarlogo {
  0% {transform:perspective(400px) translate3d(0px, 0px, 0px) rotate3d(0, 1, 0, 0deg);fill:white;}
  15% {transform:perspective(400px) translate3d(0px, 0px, 0px) rotate3d(0, 1, 0, 0deg);fill:white;}
  25% {transform:perspective(400px) translate3d(150px, 0px, 0px) rotateY(-180deg);fill:$guindo-suave;}
  50% {transform:perspective(400px) translate3d(150px, 0px, 0px) rotateY(-180deg);fill:$guindo-suave;}
  75% {transform:perspective(400px) translate3d(150px, 0px, 0px) rotateY(-180deg);fill:$guindo-suave;}
  85%{transform:perspective(400px) translate3d(0px, 0px, 0px) rotate3d(0, 1, 0, 0deg);fill:white;}
  100%{transform:perspective(400px) translate3d(0px, 0px, 0px) rotate3d(0, 1, 0, 0deg);fill:white;}
}
.row section.col{padding: 0 0 15px 0;}
section{margin: 10px 0 0;background: rgba(255, 255, 255, 0.81);border-radius: 5px;border: 6px solid #c32929;
  h2{background: #c32929;margin: 0;color: #fff;font-size: 36px;float: inherit;width: 100%;padding: 1px 0 2px 0;}
  .input-field {margin-top: 0rem;line-height: 0.7;
      .prefix {font-size: 1.2em;left: 15px;top: 10px;line-height: 0.6;color: $plomo;}
      label {color: #636363;top: 7px;left: 5px;font-size: 1rem;}
  }
  h3{font-size: 30px;font-weight: 500;color: $guindo-suave;}
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
      border-bottom: 1px solid $plomo;
  }
  p{margin: 0 1%;text-align: justify;}
  ul{
    li{margin-left: 2%;
      i{margin-right:5px;}
    }
  }
  article{div{margin-top: 10px;}}
  img.rep{padding: 6px;background: #fff;border-radius: 5px;border: solid 1px $plomo;margin: 15px 2px;}
  img.rep:hover{opacity: .6;}
  input:not([type]):focus:not([readonly]) + label,
  input[type=text]:focus:not([readonly]) + label,
  input[type=password]:focus:not([readonly]) + label,
  input[type=email]:focus:not([readonly]) + label,
  input[type=url]:focus:not([readonly]) + label,
  input[type=time]:focus:not([readonly]) + label,
  input[type=date]:focus:not([readonly]) + label,
  input[type=datetime]:focus:not([readonly]) + label,
  input[type=datetime-local]:focus:not([readonly]) + label,
  input[type=tel]:focus:not([readonly]) + label,
  input[type=number]:focus:not([readonly]) + label,
  input[type=search]:focus:not([readonly]) + label,
  textarea.materialize-textarea:focus:not([readonly]) + label,
  .input-field label:not(.label-icon).active {
    color: rgb(223, 2, 9);top:0;font-size: 1rem;}
  input:not([type]):focus:not([readonly]),
  input[type=text]:focus:not([readonly]),
  input[type=password]:focus:not([readonly]),
  input[type=email]:focus:not([readonly]),
  input[type=url]:focus:not([readonly]),
  input[type=time]:focus:not([readonly]),
  input[type=date]:focus:not([readonly]),
  input[type=datetime]:focus:not([readonly]),
  input[type=datetime-local]:focus:not([readonly]),
  input[type=tel]:focus:not([readonly]),
  input[type=number]:focus:not([readonly]),
  input[type=search]:focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(223, 2, 9);background:white; color:black;box-shadow: 0 1px 0 0 rgb(223, 2, 9);transition: all 0.3s linear;}
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
      height: 1.3rem;
  }
  input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
      border-bottom: 1px solid $plomo;border: 1px solid $plomo;padding: 5px;border-radius: 6px;background: rgba(255, 255, 255, 0.54);line-height: 1;}
  .input-field .prefix.active {
    color: rgb(223, 2, 9);
  }
  .animMessage{border-left: solid 4px green;background: #ffc655;padding: 5px;margin-top: 7px;text-align: center;}
  #materialbox-overlay {background-color: rgba(64, 0, 0, 0.58);}
}
footer{
    h2 {font-size: 20px;font-weight: 900;line-height: 0;}
    h4 {font-size: 18px;font-weight: 500;line-height: 91%;margin: 0 0 10px 0;}
    h2,b{color: $guindo-suave;}
    .fot{background-color: #fff;border-radius: 30px 30px 0 0;border: 5px solid $guindo-suave;padding: 0;
      h3{font-size: 24px;line-height: 143%;margin: 0;padding: 1px 0 2px 0;color: white;border-radius: 22px 22px 0 0;text-align: center;background-color: #b91e1e;}
      div{}
    }
    .creditos{
      p{text-shadow: 0 1px 1px #fff;}
      .ah a{color:$guindo;transition: all 0.5s ease-in-out}
      .ah a:hover{color:white;text-shadow: 0 1px 1px #000;}
    }
    ul.social_icons {list-style: none;padding: 0;margin: 0;display: block;
      li {display: inline-block;margin-right: 5px;margin-top: 5px;margin-bottom: 1px;
        a i {border-radius: 50%;color: #fff;height: 40px;line-height: 40px;font-size: 20px;padding: 0;text-align: center;width: 40px;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";opacity: .8;border: 1px solid hsla(0,0%,100%,.57);box-shadow: 0 0 7px 1px #797979;}
        a i:hover {transform: rotate(1turn);transition-duration: 2s;transition-property: all;transition-timing-function: ease;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";opacity: 1;transition: all .9s ease 0s;}
      }
      .fa-facebook {background: linear-gradient(150deg,#89c3ff,#004ec7,#3371d2 110%);}
      .fa-twitter {background: linear-gradient(150deg,#a1deff,#00adff,#007da2);}
      .fa-youtube {background: linear-gradient(150deg,#ff3c3c,red,#ca0000);}
    }
}
